@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-height: 100vh;
    position: relative;
    background-color: #05202A;
}

.sticky_footer{
    position: absolute;
    top: 100%;
    right:0px;
    left:0px;
}